//variables
$blue-regular: #3399cc;
$blue-darkness: #297aa3;

$dark-regular: #343a40;

$gray-regular: #868e96;

//some styles

//fonts
@font-face {
  font-family: 'Bebas';
  src: url('/font/bebas.eot?k6fn45');
  src: url('/font/bebas.eot?k6fn45#iefix') format('embedded-opentype'),
  url('/font/bebas.ttf?k6fn45') format('truetype'),
  url('/font/bebas.woff?k6fn45') format('woff'),
  url('/font/bebas.svg?k6fn45#prostoy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acrobat';
  src: url('/font/acrobat.eot?k6fn45');
  src: url('/font/acrobat.eot?k6fn45#iefix') format('embedded-opentype'),
  url('/font/acrobat.ttf?k6fn45') format('truetype'),
  url('/font/acrobat.woff?k6fn45') format('woff'),
  url('/font/acrobat.svg?k6fn45#prostoy') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Acrobat;
}

.--acrobat {
  font-family: Acrobat;
}

.--bebas {
  font-family: Bebas;
}

.--uppercase {
  text-transform: uppercase;
}

.--my-color {
  color: $blue-regular;
}

.--my-gray {
  color: $dark-regular;

  &:hover {
    color: $blue-regular;
  }
}

.--radius {
  border: 2px solid $blue-regular;
  border-radius: 100%;
  color: $blue-regular;

  &:hover {
    border-color: $blue-darkness;
    color: $blue-darkness;
  }
}

.subheading {
  font-weight: 500;
  font-size: 1.37rem;
  color: $gray-regular;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 500;
  color: $dark-regular;
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 500;
  color: $dark-regular;
}

h3 {
  color: $dark-regular;
}